@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

*{
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
    box-sizing: border-box;
}

body{
    display: grid; 
    flex-direction: column;
    grid-template-columns: auto auto auto;
    gap: 30px;
    
    
    font-family: 'Merriweather Sans', 'sans-serif';

    color: var(--text-color);

    background-color: var(--body-bg-color);
    
    width: 100%;
    height:100%;
}


.cards-posts {
    background-color: var(--bg-cards);
    
    margin-left: 40px;
    
    max-width: 348px;
    
    border-radius: 20px;

    grid-column: 1;

    box-shadow: 0px 4px 4px 0px #00000040;


    
}

.profile {
    max-width: 348px;
    max-height: 292px;

    margin-top: 40px;

    text-align: center;
    
    padding-top: 40px;
    padding-bottom: 30px;
}

.profile > img{
    
    border-radius: 50%;
    max-width: 40%;
}

.profile > h2 {
    padding: 12px;
}

.profile > h3{
    font-weight: 400;
    font-size: 13px;

    padding-bottom: 20px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 20px;


    box-sizing: border-box;

    max-width: 348px;
    max-height: 395px;

    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 12px;

    
}

.link > section {
    display: flex;
    align-items: center;
    gap: 20px;
    
    
}

.link > img {
    color: var(--text-color);
    
    max-width: 24px;
    max-height: 24px;
}

svg {
    color: #837E9F;
}

.tecnologies {
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    max-width: 348px;
    max-height: 208px;
}

.tecnologies > h2 {
    padding-bottom: 20px;
}

.buttons {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    gap: 15px;


    padding-right: 30px;
    padding-left: 10px;
}

.buttons > a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;

    text-transform: uppercase;
    
    background-color: var(--bg-techs);
    color: black;

    border-radius: 20px;

    padding: 5px;
}

.experiences {
    padding-top: 30px;
    padding-bottom: 20px;
}

.experiences > h2{    
    padding-left: 20px;
    padding-bottom: 20px;
}

.experiences > ul{    
    padding-left: 40px;    
}

.experiences > ul > li {
    padding-bottom: 10px;

    font-size: 14px;
}

.education {
    padding-top: 30px;
    padding-bottom: 20px;
}

.education > h2 {
    padding-left: 20px;
    padding-bottom: 20px;
}

.education > ul {
    padding-left: 40px;
}

.education > ul > li > label {
   padding-bottom: 12px;

   font-size: 14px;    
}

.education > ul > li > label> p{
    padding-left: 40px;
    
    font-size: 10px;    
}


.cards-projects {
    background-color: var(--bg-cards);

    grid-column: 2;

    margin: 0px;

    width: 952px;
    max-width: 952px;

    border-radius: 20px;

    box-shadow: 0px 4px 4px 0px #00000040;
}

.column-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    position: absolute;
    top: 40px;
    left: 65vh;

    gap: 30px;


}

.myprojects{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    padding: 30px;
    
}

.myprojects > a {
    text-decoration: none;
    color: var(--text-color);
}

.projects-hub {
    display: flex;
    
    gap: 30px;
    
}

.hub {

    max-width: 461px;

    padding: 30px;
}

.hub > label {
    font-weight: bold;
    padding-left: 15px;
}

.hub > p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.project-footer{
    display: flex;
    justify-content: space-between;

    padding-bottom: 10px;
}

.project-footer > section {
    display: flex;
    gap: 10px;
    
}

.rposts{
    display: flex;
    
    align-items: center;

    padding: 30px;
    
}

.post {
    max-width: 952px;
    max-height: 201px;

    padding: 30px;

    display: flex;
    flex-direction: row;
}

#post-title {
    font-weight: bold;
    font-size: 18px;
}

#lifetime {
    font-weight: 500;
    font-size: 14;
}

.info-post {
    padding-left: 20px;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.pro-pic {
    display: block;
}

.pro-pic > img{
    
    border-radius: 50%;
    max-width: 128px;
    max-height: 128px;
}

.content {
    font-size: 16px;
    font-weight: 500;
}

.post .hashtags {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}
